@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;

  color: #5f6c7b;
  background-color: #d8eefe;
}

html {
  scroll-behavior: smooth;
}